<h1>Listing addons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Filename</th>
    <th>Location</th>
    <th>Dls</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addons.each do |addon| %>
  <tr>
    <td><%= addon.name %></td>
    <td><%= addon.description %></td>
    <td><%= addon.filename %></td>
    <td><%= addon.location %></td>
    <td><%= addon.dls %></td>
    <td><%= addon.user_id %></td>
    <td><%= link_to 'Show', addon %></td>
    <td><%= link_to 'Edit', edit_addon_path(addon) %></td>
    <td><%= link_to 'Destroy', addon, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Addon', new_addon_path %>
